@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilties {
    .section-min-height {
        min-height: calc(100vh -68px)
    }

    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent  [&>div]:rotate-[720deg]
    }
}

.radial-blue {
    background: radial-gradient(aliceblue, rgb(40, 27, 100));
}

.profile-pic-figure {
    width: 80%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double indigo;
    border-radius: 50%;
}